<% provide(:title, 'Editar datos Almno') %>
<div class="contact center part clearfix ">
	<header class="title">
			<h2 class="fleft">Alumno</h2>
		</header>
			

		
	<article id="navteam" class="detail">
<h4>Editar los datos de tu cuenta</h4>


</article>
<%= render 'form' %>


</div>
