<% provide(:title, 'Editar datos Almno') %>
<br />
<br />
<br />
<br />
<div class="row">
	<header class="title twelve columns panel callout">
		<h3 class="color-blanco"><span class="glyph general" style="font-size: 30px; line-height: 30px"> [ </span>Editar datos de la cuenta</h3>
	</header>
	<br />
	<div class=" panel twelve columns sombra-2">
		<%= render 'form' %>
	</div>
</div>
<br />
<br />
<br />
<br />
