<% provide(:title, 'Registrar Nuevo Alumno') %>
<div class="row">
	<br />
	<br />
	<br />
	<div class="seven columns centered panel sombra-2 radius ">
		<header class="row">
			<div class="ten columns">
				<h4><span class="glyph general" style="font-size: 20px; line-height: 20px"> d </span>Crear una nueva Cuenta </h4>
			</div>
			<div class="two columns">
				<%= image_tag("icono.png", alt:"SODMI")%>
			</div>
		</header>
		<div>
			<%= render 'form' %>
		</div>
	</div>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
</div>