<% provide(:title, 'Nosotros') %>
<div class="row">

		<header class="title">
			<p class="fleft">Nosotros</p>
		</header>
		<aside class="column4 mright">
			<p class="mbottom">Descripcion de equipo de trabajo
			</p>
			<menu>
				<ul>
					<li>Nosotros</li>
					<li><a href="#navphilo" class="arrow more">Mision</a></li>
					<li><a href="#navplace" class="arrow more">Vision</a></li>
					<li><a href="#navother" class="arrow more">Objetivos</a></li>
				</ul>
			</menu>
		</aside>
		
		<section class="columnthird content">
		<%= link_to image_tag("team.jpg", alt: "Equipo de Trabajo"), '#' %>
		
		<article id="navteam" class="detail">
		<h2>Nosotros</h2>
		<p>SODMI utilizará el modelo de diseño instruccional EAC (Entorno de Aprendizaje Constructivista), que está enfocado al manejo de las estructuras básicas soportadas por el lenguaje Lumin, con la intención de introducir al estudiante al mundo de la Programación Orientada a Objetos, de manera interactiva, sencilla y agradable. Constará de una serie de lecciones en las que se explicarán al estudiante tanto los conceptos básicos como la sintaxis de los elementos utilizados en POO; de igual manera, se incluirán variados ejercicios interactivos que refuercen lo entendido en dichas lecciones y, se aplicarán evaluaciones parciales al terminar cada lección, así como una evaluación final, para concretar los resultados generados.</p>
		
		</article>
		
		<article id="navphilo" class="detail">
		<h2>Misi&oacute;n</h2>
		<p>SODMI se desarrollo, pensando en servir como apoyo a los alumnos que comienzan a aprender los conseptos de programaci&oacute;n. Una de las principales ventajas de esta herramienta es que se apoya de un sofware conocido como Lumin Jaguar, que es un entorno de desarrollo de programaci&oacute;n, que se basa en el lenguaje Lumin, el cual, cuenta con una sintaxis en español, lo cual facilita enormemente el aprendisaje por parte de los alumnos. </p>
		<p></p>	
		</article>
		
		<article id="navplace" class="detail">
		<h2>Visi&oacute;n</h2>
		<p>Consolidarnos como una herramienta basica, en la enseñanza de conseptos de programaci&oacute;n basicos. Llegar a ser mas que una herramienta que se utiliza en el Tecnol&oacute;gico de Ciudad Guzm&aacute;n, y posicionarse como una opci&oacute;n de material didactico para las Universidades de Mexico.</p>

		</article>
				
		<article id="navother" class="detail">
		<h2>Objetivos</h2>
		<h4>Objetivo Espec&iacute;fico</h4>
		
		<p>Desarrollar la plataforma para soportar un Software Did&aacute;ctico Multimedia v&iacute;a Internet, as&iacute; como lecciones did&aacute;cticas y ejercicios dirigidos sobre Sentencias Iterativas en Programación Orientada a Objetos, basados en las estructuras gramaticales del lenguaje de programación Lumin.</p>
	   <h4>Objetivos Generales</h4>
		
		<p>Desarrollar la plataforma para soportar un Software Did&aacute;ctico Multimedia v&iacute;a Internet, as&iacute; como lecciones did&aacute;cticas y ejercicios dirigidos sobre Sentencias Iterativas en Programación Orientada a Objetos, basados en las estructuras gramaticales del lenguaje de programación Lumin.</p>

	
	   
		</article>
		
		</section>
		
</div>
	
