<% provide(:title, 'Nosotros') %>
<section class="row">
	<header class=" twelve columns">
		
		<h1 class="subheader resaltado">¿Que es SODMI? </h1>
	</header>
	<article class="twelve columns panel sombra-3">
		<div class="six columns">
			<%= link_to image_tag("team.png", alt: "Equipo de Trabajo"), '#' %>
		</div>
		<div class="six columns">
			<header>
				<h2>Acerca de..</h2>
			</header>
			<p align="justify">
				SODMI utiliza el modelo de diseño instruccional EAC (Entorno de Aprendizaje Constructivista), que está enfocado al manejo de las estructuras básicas soportadas por el lenguaje Lumin, con la intención de introducir al estudiante al mundo de la Programación Orientada a Objetos, de manera interactiva, sencilla y agradable. Constará de una serie de lecciones en las que se explicarán al estudiante tanto los conceptos básicos como la sintaxis de los elementos utilizados en POO; de igual manera, se incluirán variados ejercicios interactivos que refuercen lo entendido en dichas lecciones y, se aplicarán evaluaciones parciales al terminar cada lección, así como una evaluación final, para concretar los resultados generados.
			</p>
		</div>
	</article>
	<br />
	<br />
	<div class="row ">
		<article class="five columns panel sombra-3 ">
			<header>
				<h3 class="subheader">Misi&oacute;n</h3>
			</header>
			<hr />
			<p align="justify">
				SODMI se desarrollo, pensando en servir como apoyo a los alumnos que comienzan a aprender los conseptos de programaci&oacute;n. Una de las principales ventajas de esta herramienta es que se apoya de un sofware conocido como Lumin Jaguar, que es un entorno de desarrollo de programaci&oacute;n, que se basa en el lenguaje Lumin, el cual, cuenta con una sintaxis en español, lo cual facilita enormemente el aprendisaje por parte de los alumnos.
			</p>
			<p></p>
		</article>
		<article class="five columns  panel sombra-3">
			<header>
				<h3 class="subheader">Visi&oacute;n</h3>
			</header>
			<hr />
			<p align="justify">
				Consolidarnos como una herramienta basica, en la enseñanza de conseptos de programaci&oacute;n basicos. Llegar a ser mas que una herramienta que se utiliza en el Tecnol&oacute;gico de Ciudad Guzm&aacute;n, y posicionarse como una opci&oacute;n de material didactico para las Universidades de Mexico.
			</p>
			<br />
			<br />
			<br />
			<br />
		</article>
	</div>
	<br />
	<br />
	<br />
	<div class="row">
		<article class="five columns panel sombra-3">
			<br />
			<header>
				<h4 class="subheader"> Objetivo Espec&iacute;fico</h4>
			</header>
			<hr />
			<p align="justify">
				Desarrollar la plataforma para soportar un Software Did&aacute;ctico Multimedia v&iacute;a Internet, as&iacute; como lecciones did&aacute;cticas y ejercicios dirigidos sobre Sentencias Iterativas en Programación Orientada a Objetos, basados en las estructuras gramaticales del lenguaje de programación Lumin.
			</p>
		</article>
		<article class="five columns panel offset-by-on sombra-3">
			<header>
				<h4 class="subheader">Objetivos Generales</h4>
			</header>
			<hr />
			<p align="justify">
				Desarrollar la plataforma para soportar un Software Did&aacute;ctico Multimedia v&iacute;a Internet, as&iacute; como lecciones did&aacute;cticas y ejercicios dirigidos sobre Sentencias Iterativas en Programación Orientada a Objetos, basados en las estructuras gramaticales del lenguaje de programación Lumin.
			</p>
			<br />
		</article>
	</div>
	<br />
	<br />
</section>