<% provide(:title, 'Nosotros') %>
<div class="row">
	<header class="title">
		<h2 class="">¿Que es SODMI? </h2>
	</header>
	<section class="row">
		<div class="twelve columns panel">
			<div class="six columns">
				<%= link_to image_tag("team.jpg", alt: "Equipo de Trabajo"), '#' %>
			</div>
			<div class="six columns">
				<article >
					<h2>Acerca de..</h2>
					<p align="justify">
						SODMI utilizará el modelo de diseño instruccional EAC (Entorno de Aprendizaje Constructivista), que está enfocado al manejo de las estructuras básicas soportadas por el lenguaje Lumin, con la intención de introducir al estudiante al mundo de la Programación Orientada a Objetos, de manera interactiva, sencilla y agradable. Constará de una serie de lecciones en las que se explicarán al estudiante tanto los conceptos básicos como la sintaxis de los elementos utilizados en POO; de igual manera, se incluirán variados ejercicios interactivos que refuercen lo entendido en dichas lecciones y, se aplicarán evaluaciones parciales al terminar cada lección, así como una evaluación final, para concretar los resultados generados.
					</p>
				</article>
			</div>
		</div>
		<div class="row">
		<div class="five columns panel">
			<article >
				<h3 class="subheader">Misi&oacute;n</h3>
				<hr />
				<p>
					SODMI se desarrollo, pensando en servir como apoyo a los alumnos que comienzan a aprender los conseptos de programaci&oacute;n. Una de las principales ventajas de esta herramienta es que se apoya de un sofware conocido como Lumin Jaguar, que es un entorno de desarrollo de programaci&oacute;n, que se basa en el lenguaje Lumin, el cual, cuenta con una sintaxis en español, lo cual facilita enormemente el aprendisaje por parte de los alumnos.
				</p>
				<p></p>
			</article>
		</div>
		<div class="six columns panel offset-by-one">
			<article >
				<h3 class="subheader">Visi&oacute;n</h3>
				<hr />
				<p>
					Consolidarnos como una herramienta basica, en la enseñanza de conseptos de programaci&oacute;n basicos. Llegar a ser mas que una herramienta que se utiliza en el Tecnol&oacute;gico de Ciudad Guzm&aacute;n, y posicionarse como una opci&oacute;n de material didactico para las Universidades de Mexico.
				</p>
			</article>
			<br />
			<br />
			<br />
			<br /><br /><br />
		</div>
		</div>
		<div class="row">
<div class="five columns panel">
			<article >
				<br />
				<h4 class="subheader"> Objetivo Espec&iacute;fico</h4>
				<hr />
				<p>
					Desarrollar la plataforma para soportar un Software Did&aacute;ctico Multimedia v&iacute;a Internet, as&iacute; como lecciones did&aacute;cticas y ejercicios dirigidos sobre Sentencias Iterativas en Programación Orientada a Objetos, basados en las estructuras gramaticales del lenguaje de programación Lumin.
				</p>
			</article>
		</div>
				<div class="six columns panel offset-by-one">
					<article>
					<h4 class="subheader">Objetivos Generales</h4>
					<hr />
					<p>
						Desarrollar la plataforma para soportar un Software Did&aacute;ctico Multimedia v&iacute;a Internet, as&iacute; como lecciones did&aacute;cticas y ejercicios dirigidos sobre Sentencias Iterativas en Programación Orientada a Objetos, basados en las estructuras gramaticales del lenguaje de programación Lumin.
					</p>
				
			</article>
			<br /><br />
			</div>
			</div>
	</section>
</div>