html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 720px;
	min-height: 540px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu70
{
	width: 0.01px;
	position: relative;
	margin-right: -720px;
	margin-top: -2px;
}

#u70
{
	z-index: 3;
	width: 720px;
	margin-right: -720px;
	margin-top: 2px;
}

#u507
{
	z-index: 5;
	width: 654px;
	margin-right: -654px;
	left: 37px;
}

._u507.f3s_top
{
	height: 43px;
	width: 654px;
}

#u513
{
	z-index: 6;
	width: 490px;
	margin-right: -490px;
	margin-top: 2px;
	left: 123px;
}

#ppamphletu146
{
	width: 0.01px;
	position: relative;
	margin-right: -705px;
	margin-top: 37px;
	left: 7px;
}

#pamphletu146
{
	z-index: 9;
	width: 0.01px;
	height: 1px;
	padding-bottom: 450px;
	position: relative;
	margin-right: -705px;
	margin-top: 43px;
}

#u151
{
	position: absolute;
	z-index: 10;
	width: 727px;
	top: 20px;
	left: -10px;
}

#u162
{
	z-index: 11;
	width: 727px;
	margin-right: -727px;
	position: relative;
}

._u162.f3s_top
{
	width: 727px;
	background-image: url("../images/u162-sprite.png");
	overflow: hidden;
	height: 21px;
	background-position: left top;
}

._u162.f3s_mid
{
	background-image: url("../images/u162-sprite.png");
	overflow: visible;
	background-position: -727px top;
	width: 727px;
	height: 359px;
}

._u162.f3s_bot
{
	width: 727px;
	background-image: url("../images/u162-sprite.png");
	overflow: visible;
	height: 69px;
	background-position: -1454px top;
}

#u218-28
{
	z-index: 12;
	width: 630px;
	min-height: 322px;
	padding: 15px;
	margin-bottom: -24px;
	position: relative;
	margin-right: -660px;
	margin-top: -8px;
	left: 20px;
}

#u443
{
	z-index: 40;
	width: 727px;
	margin-right: -727px;
	position: relative;
}

#pamphletu447
{
	z-index: 41;
	width: 0.01px;
	height: 18px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -273px;
	margin-top: 315px;
	left: 5px;
}

#u474
{
	z-index: 42;
	position: relative;
	width: 0px;
	margin-top: 18px;
	left: 202px;
}

#u477
{
	position: absolute;
	width: 116px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	padding-bottom: 6px;
	top: -18px;
	left: -177px;
	background: #F3C3FF url("../images/u477-grad.png") repeat-y left top;
}

#u523-4
{
	z-index: 44;
	width: 89px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -89px;
	margin-top: 5px;
	left: 15px;
}

#u477:hover #u523-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u477:active #u523-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 5px -89px 0px 0px;
}

#u477.PamphletThumbSelected #u523-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 5px -89px 0px 0px;
}

#u525
{
	position: absolute;
	width: 116px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	padding-bottom: 4px;
	top: -17px;
	left: -45px;
	background: #F3C3FF url("../images/u477-grad.png") repeat-y left top;
}

#u477:hover,#u525:hover
{
	border-width: 4px;
	border-style: solid;
	border-color: #FFFF00;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 112px;
	min-height: -4px;
	margin: -2px;
	background: #F3C3FF url("../images/u477-r-grad.png") repeat-y left top;
}

#u534-4
{
	z-index: 49;
	width: 89px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -89px;
	margin-top: 6px;
	left: 15px;
}

#u525:hover #u534-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u525:active #u534-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 6px -89px 0px 0px;
}

#u525.PamphletThumbSelected #u534-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 6px -89px 0px 0px;
}

#u477.PamphletThumbSelected #u523-4 p,#u525.PamphletThumbSelected #u534-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#u450
{
	position: absolute;
	z-index: 53;
	width: 688px;
	background-color: #2A0135;
	background-color: rgba(42, 1, 53, 0.9);
	-pie-background: rgba(42, 1, 53, 0.9);
	padding-bottom: 44px;
	top: 81px;
}

#u459
{
	z-index: 54;
	width: 585px;
	height: 419px;
	background-color: transparent;
	margin-right: -644px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 32px 34px 17px 25px;
}

#u505
{
	z-index: 59;
	width: 583px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.33);
	-pie-background: rgba(255, 255, 255, 0.33);
	padding-bottom: 22px;
	position: relative;
}

#u506-19
{
	z-index: 60;
	width: 544px;
	min-height: 336px;
	position: relative;
	margin-right: -544px;
	margin-top: 24px;
	left: 17px;
}

#u506-2,#u506-4,#u506-5,#u506-7,#u506-9,#u506-11,#u506-13,#u506-15
{
	font-size: 17px;
	text-align: justify;
	color: #FFFFFF;
	font-weight: bold;
}

#u462-4
{
	z-index: 55;
	width: 102px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	margin-left: 4px;
	margin-top: 17px;
	position: relative;
}

#u527
{
	z-index: 79;
	width: 585px;
	height: 413px;
	background-color: transparent;
	margin-right: -644px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 33px 35px 22px 24px;
}

#u548
{
	z-index: 84;
	width: 583px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.33);
	-pie-background: rgba(255, 255, 255, 0.33);
	padding-bottom: 18px;
	position: relative;
}

#u549-23
{
	z-index: 85;
	width: 544px;
	min-height: 336px;
	position: relative;
	margin-right: -544px;
	margin-top: 24px;
	left: 11px;
}

#u549-2,#u549-4,#u549-5,#u549-7,#u549-9,#u549-11,#u549-13,#u549-15,#u549-17,#u549-19
{
	font-size: 17px;
	color: #FFFFFF;
	font-weight: bold;
}

#u535-4
{
	z-index: 80;
	width: 102px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	margin-left: 17px;
	margin-top: 11px;
	position: relative;
}

#u471
{
	position: absolute;
	width: 55px;
	height: 31px;
	top: 531px;
	left: 409px;
}

.ie #u471
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u448
{
	position: absolute;
	width: 30px;
	background-color: #FF0000;
	background-color: rgba(255, 0, 0, 0.54);
	-pie-background: rgba(255, 0, 0, 0.54);
	padding-bottom: 12px;
	top: 138px;
	left: 599px;
}

#u449-4
{
	z-index: 110;
	width: 20px;
	min-height: 16px;
	padding-top: 4px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -20px;
	margin-top: 1px;
	left: 4px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u524-31
{
	z-index: 114;
	width: 656px;
	min-height: 226px;
	position: relative;
	margin-right: -656px;
	margin-top: -1px;
	left: 21px;
}

#u550
{
	z-index: 145;
	width: 727px;
	margin-right: -727px;
	position: relative;
}

#u613-30
{
	z-index: 146;
	width: 630px;
	min-height: 322px;
	padding: 15px;
	position: relative;
	margin-right: -660px;
	margin-top: -5px;
	left: 13px;
}

#u774
{
	z-index: 176;
	width: 727px;
	margin-right: -727px;
	position: relative;
}

#u779-41
{
	z-index: 177;
	width: 630px;
	min-height: 322px;
	padding: 15px;
	margin-bottom: -25px;
	position: relative;
	margin-right: -660px;
	margin-top: -7px;
	left: 15px;
}

#u613-6,#u613-8,#u613-10,#u613-12,#u613-14,#u613-16,#u779-21,#u779-26,#u779-31
{
	font-weight: bold;
}

#u780
{
	z-index: 218;
	width: 727px;
	margin-right: -727px;
	position: relative;
}

#u788-33
{
	z-index: 219;
	width: 630px;
	min-height: 322px;
	padding: 15px;
	margin-bottom: -13px;
	position: relative;
	margin-right: -660px;
	margin-top: -4px;
	left: 25px;
}

#u788-5
{
	font-size: 13px;
	text-align: center;
}

#u788-17,#u788-19,#u788-21,#u788-23
{
	font-size: 13px;
	text-align: justify;
	font-style: italic;
}

#u218-2,#u218-4,#u218-5,#u218-7,#u218-11,#u218-15,#u218-16,#u218-18,#u218-19,#u218-21,#u218-22,#u218-24,#u524-2,#u524-3,#u524-7,#u524-11,#u524-15,#u524-16,#u524-20,#u524-21,#u524-23,#u524-25,#u524-27,#u613,#u613-3,#u613-4,#u613-18,#u613-19,#u613-21,#u613-22,#u613-24,#u613-25,#u613-26,#u779-4,#u779-5,#u779-7,#u779-9,#u779-10,#u779-16,#u779-17,#u779-19,#u779-20,#u779-25,#u779-30,#u779-35,#u779-36,#u779-37,#u788-2,#u788-3,#u788-6,#u788-8,#u788-14,#u788-15,#u788-24,#u788-26,#u788-27,#u788-28,#u788-29
{
	font-size: 13px;
	text-align: justify;
}

#u789
{
	z-index: 252;
	width: 727px;
	margin-right: -727px;
	position: relative;
}

#u794-23
{
	z-index: 253;
	width: 630px;
	min-height: 322px;
	padding: 15px;
	font-size: 13px;
	text-align: justify;
	position: relative;
	margin-right: -660px;
	margin-top: 3px;
	left: 26px;
}

#u795
{
	z-index: 276;
	width: 727px;
	margin-right: -727px;
	position: relative;
}

._u443.f3s_top,._u550.f3s_top,._u774.f3s_top,._u780.f3s_top,._u789.f3s_top,._u795.f3s_top
{
	width: 727px;
	background-image: url("../images/u443-sprite.png");
	overflow: hidden;
	height: 21px;
	background-position: left top;
}

._u443.f3s_mid,._u550.f3s_mid,._u774.f3s_mid,._u780.f3s_mid,._u789.f3s_mid,._u795.f3s_mid
{
	background-image: url("../images/u443-sprite.png");
	overflow: visible;
	background-position: -727px top;
	width: 727px;
	height: 359px;
}

._u443.f3s_bot,._u550.f3s_bot,._u774.f3s_bot,._u780.f3s_bot,._u789.f3s_bot,._u795.f3s_bot
{
	width: 727px;
	background-image: url("../images/u443-sprite.png");
	overflow: visible;
	height: 69px;
	background-position: -1454px top;
}

#u800-35
{
	z-index: 277;
	width: 652px;
	min-height: 377.99999999999994px;
	padding: 15px;
	font-size: 13px;
	text-align: justify;
	margin-bottom: -33px;
	position: relative;
	margin-right: -682px;
	margin-top: -16px;
	left: 16px;
}

#u218-9,#u218-13,#u524-5,#u524-9,#u524-13,#u524-18,#u779-2,#u779-12,#u779-14,#u779-23,#u779-28,#u779-33,#u788-10,#u788-12,#u800-16,#u800-18
{
	font-style: italic;
}

#u167
{
	z-index: 312;
	position: relative;
	width: 0px;
	margin-top: -243px;
	left: -78px;
}

#u170
{
	position: absolute;
	width: 81px;
	border-color: #5B5B5B;
	-moz-border-radius: 50px 50px 0px 0px ;
	-webkit-border-radius: 50px 50px 0px 0px ;
	-khtml-border-radius: 50px 50px 0px 0px ;
	border-radius: 50px 50px 0px 0px ;
	top: 246px;
	left: 78px;
	background: #CCFF7A url("../images/u856-grad.png") repeat-x left top;
}

#u170:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #CCFF7A url("../images/u856-grad.png") repeat-x left top;
}

#u582-4
{
	z-index: 314;
	width: 62px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -62px;
	margin-top: 11px;
	left: 12px;
}

#u170:hover #u582-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u170:active #u582-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 11px -62px 0px 0px;
}

#u170.PamphletThumbSelected #u582-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 11px -62px 0px 0px;
}

#u445
{
	position: absolute;
	width: 101px;
	border-color: #5B5B5B;
	-moz-border-radius: 50px 50px 0px 0px ;
	-webkit-border-radius: 50px 50px 0px 0px ;
	-khtml-border-radius: 50px 50px 0px 0px ;
	border-radius: 50px 50px 0px 0px ;
	padding-bottom: 1px;
	top: 245px;
	left: 159px;
	background: #CCFF7A url("../images/u445-grad.png") repeat-x left top;
}

#u445:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #CCFF7A url("../images/u445-grad.png") repeat-x left top;
}

#u581-4
{
	z-index: 319;
	width: 94px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -94px;
	margin-top: 11px;
	left: 6px;
}

#u445:hover #u581-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u445:active #u581-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 11px -94px 0px 0px;
}

#u445.PamphletThumbSelected #u581-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 11px -94px 0px 0px;
}

#u579
{
	position: absolute;
	width: 101px;
	border-color: #5B5B5B;
	-moz-border-radius: 50px 50px 0px 0px ;
	-webkit-border-radius: 50px 50px 0px 0px ;
	-khtml-border-radius: 50px 50px 0px 0px ;
	border-radius: 50px 50px 0px 0px ;
	padding-bottom: 1px;
	top: 245px;
	left: 260px;
	background: #CCFF7A url("../images/u445-grad.png") repeat-x left top;
}

#u579:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #CCFF7A url("../images/u445-grad.png") repeat-x left top;
}

#u583-4
{
	z-index: 324;
	width: 73px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	position: relative;
	margin-right: -73px;
	margin-top: 4px;
	left: 23px;
}

#u579:hover #u583-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u579:active #u583-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 4px -73px 0px 0px;
}

#u579.PamphletThumbSelected #u583-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 4px -73px 0px 0px;
}

#u776
{
	position: absolute;
	width: 95px;
	border-color: #5B5B5B;
	-moz-border-radius: 50px 50px 0px 0px ;
	-webkit-border-radius: 50px 50px 0px 0px ;
	-khtml-border-radius: 50px 50px 0px 0px ;
	border-radius: 50px 50px 0px 0px ;
	padding-bottom: 3px;
	top: 244px;
	left: 361px;
	background: #CCFF7A url("../images/u445-grad.png") repeat-x left top;
}

#u776:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #CCFF7A url("../images/u445-grad.png") repeat-x left top;
}

#u445.PamphletThumbSelected,#u579.PamphletThumbSelected,#u776.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
	background: #F3C3FF url("../images/u445-a-grad.png") repeat-x left top;
}

#u778-4
{
	z-index: 329;
	width: 73px;
	min-height: 23px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	position: relative;
	margin-right: -73px;
	margin-top: 3px;
	left: 14px;
}

#u776:hover #u778-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u776:active #u778-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 3px -73px 0px 0px;
}

#u776.PamphletThumbSelected #u778-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 3px -73px 0px 0px;
}

#u782
{
	position: absolute;
	width: 100px;
	border-color: #5B5B5B;
	-moz-border-radius: 50px 50px 0px 0px ;
	-webkit-border-radius: 50px 50px 0px 0px ;
	-khtml-border-radius: 50px 50px 0px 0px ;
	border-radius: 50px 50px 0px 0px ;
	padding-bottom: 6px;
	top: 245px;
	left: 456px;
	background: #CCFF7A url("../images/u856-grad.png") repeat-x left top;
}

#u782:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #CCFF7A url("../images/u856-grad.png") repeat-x left top;
}

#u785-4
{
	z-index: 334;
	width: 80px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -80px;
	margin-top: 6px;
	left: 12px;
}

#u782:hover #u785-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u782:active #u785-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 6px -80px 0px 0px;
}

#u782.PamphletThumbSelected #u785-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 6px -80px 0px 0px;
}

#u170.PamphletThumbSelected #u582-4 p,#u445.PamphletThumbSelected #u581-4 p,#u782.PamphletThumbSelected #u785-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

#u791
{
	position: absolute;
	width: 100px;
	border-color: #5B5B5B;
	-moz-border-radius: 50px 50px 0px 0px ;
	-webkit-border-radius: 50px 50px 0px 0px ;
	-khtml-border-radius: 50px 50px 0px 0px ;
	border-radius: 50px 50px 0px 0px ;
	padding-bottom: 2px;
	top: 245px;
	left: 552px;
	background: #CCFF7A url("../images/u856-grad.png") repeat-x left top;
}

#u791:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #CCFF7A url("../images/u856-grad.png") repeat-x left top;
}

#u170.PamphletThumbSelected,#u782.PamphletThumbSelected,#u791.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
	background: #F3C3FF url("../images/u856-a-grad.png") repeat-x left top;
}

#u793-4
{
	z-index: 339;
	width: 73px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	position: relative;
	margin-right: -73px;
	margin-top: 3px;
	left: 22px;
}

#u791:hover #u793-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u791:active #u793-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 3px -73px 0px 0px;
}

#u791.PamphletThumbSelected #u793-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	margin: 3px -73px 0px 0px;
}

#u797
{
	position: absolute;
	width: 95px;
	border-color: #5B5B5B;
	-moz-border-radius: 50px 50px 0px 0px ;
	-webkit-border-radius: 50px 50px 0px 0px ;
	-khtml-border-radius: 50px 50px 0px 0px ;
	border-radius: 50px 50px 0px 0px ;
	padding-bottom: 3px;
	top: 243px;
	left: 647px;
	background: #CCFF7A url("../images/u797-grad.png") repeat-x left top;
}

#u797:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #CCFF7A url("../images/u797-grad.png") repeat-x left top;
}

#u797.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
	background: #F3C3FF url("../images/u797-a-grad.png") repeat-x left top;
}

#u799-4
{
	z-index: 344;
	width: 78px;
	min-height: 24px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: bold;
	position: relative;
	margin-right: -78px;
	margin-top: 4px;
	left: 9px;
}

#u797:hover #u799-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u797:active #u799-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 4px -78px 0px 0px;
}

#u797.PamphletThumbSelected #u799-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 4px -78px 0px 0px;
}

#u579.PamphletThumbSelected #u583-4 p,#u776.PamphletThumbSelected #u778-4 p,#u791.PamphletThumbSelected #u793-4 p,#u797.PamphletThumbSelected #u799-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 10px;
	font-weight: bold;
}

#u518
{
	z-index: 348;
	width: 206px;
	position: relative;
	margin-right: -206px;
	left: 263px;
}

#u518_img
{
	vertical-align: top;
}

body
{
	padding-top: 25px;
	padding-bottom: 36px;
}

