html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 720px;
	min-height: 540px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu70
{
	width: 0.01px;
	position: relative;
	margin-right: -720px;
	margin-top: -2px;
}

#u70
{
	z-index: 3;
	width: 720px;
	margin-right: -720px;
	margin-top: 2px;
}

#u507
{
	z-index: 5;
	width: 654px;
	margin-right: -654px;
	left: 37px;
}

._u507.f3s_top
{
	height: 43px;
	width: 654px;
}

#u513
{
	z-index: 6;
	width: 490px;
	margin-right: -490px;
	margin-top: 2px;
	left: 123px;
}

#u84
{
	height: 0px;
	position: relative;
	width: 0px;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

