html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 720px;
	min-height: 540px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#pu70
{
	width: 0.01px;
	position: relative;
	margin-right: -720px;
	margin-top: -2px;
}

#u70
{
	z-index: 3;
	width: 720px;
	margin-right: -720px;
	margin-top: 2px;
}

#u507
{
	z-index: 5;
	width: 654px;
	margin-right: -654px;
	left: 37px;
}

._u507.f3s_top
{
	height: 43px;
	width: 654px;
}

#u513
{
	z-index: 6;
	width: 490px;
	margin-right: -490px;
	margin-top: 2px;
	left: 123px;
}

#ppamphletu884
{
	width: 0.01px;
	position: relative;
	margin-right: -702px;
	margin-top: 29px;
	left: 8px;
}

#pamphletu884
{
	z-index: 9;
	width: 0.01px;
	height: 0px;
	padding-bottom: 441px;
	position: relative;
	margin-right: -702px;
	margin-top: 50px;
}

#u897
{
	position: absolute;
	z-index: 10;
	width: 723px;
	top: 28px;
	left: -10px;
}

#u898
{
	z-index: 11;
	width: 723px;
	margin-right: -723px;
	position: relative;
}

._u898.f3s_top
{
	width: 723px;
	background-image: url("../images/u898-sprite.png");
	overflow: hidden;
	height: 21px;
	background-position: left top;
}

._u898.f3s_mid
{
	background-image: url("../images/u898-sprite.png");
	overflow: visible;
	background-position: -723px top;
	width: 723px;
	height: 343px;
}

._u898.f3s_bot
{
	width: 723px;
	background-image: url("../images/u898-sprite.png");
	overflow: visible;
	height: 68px;
	background-position: -1446px top;
}

#pamphletu961
{
	z-index: 39;
	width: 0.01px;
	height: 28px;
	margin-bottom: -11px;
	position: relative;
	margin-right: -142px;
	margin-top: 325px;
	left: 17px;
}

#u982
{
	z-index: 40;
	margin-bottom: -29px;
	position: relative;
	width: 0px;
	margin-top: 57px;
	left: 202px;
}

#u985
{
	position: absolute;
	width: 116px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	-khtml-border-radius: 30px;
	border-radius: 30px;
	padding-bottom: 6px;
	top: -57px;
	left: -176px;
	background: #F3C3FF url("../images/u477-grad.png") repeat-y left top;
}

#u985:hover
{
	border-width: 4px;
	border-style: solid;
	border-color: #FFFF00;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 112px;
	min-height: -4px;
	margin: -2px;
	background: #F3C3FF url("../images/u477-r-grad.png") repeat-y left top;
}

#u986-4
{
	z-index: 42;
	width: 89px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -89px;
	margin-top: 5px;
	left: 15px;
}

#u985:hover #u986-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u985:active #u986-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 5px -89px 0px 0px;
}

#u985.PamphletThumbSelected #u986-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 5px -89px 0px 0px;
}

#u985.PamphletThumbSelected #u986-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-weight: bold;
}

#u971
{
	position: absolute;
	z-index: 46;
	width: 688px;
	background-color: #2A0135;
	background-color: rgba(42, 1, 53, 0.9);
	-pie-background: rgba(42, 1, 53, 0.9);
	padding-bottom: 44px;
	top: 80px;
}

#u972
{
	z-index: 47;
	width: 585px;
	height: 419px;
	background-color: transparent;
	margin-right: -644px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 32px 34px 17px 25px;
}

#u974
{
	z-index: 52;
	width: 583px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.33);
	-pie-background: rgba(255, 255, 255, 0.33);
	padding-bottom: 22px;
	position: relative;
}

#u975-31
{
	z-index: 53;
	width: 544px;
	min-height: 336px;
	position: relative;
	margin-right: -544px;
	margin-top: 24px;
	left: 17px;
}

#u975
{
	font-size: 17px;
	text-align: justify;
	color: #FFFFFF;
	font-weight: bold;
}

#u975-3,#u975-5,#u975-6,#u975-8,#u975-10,#u975-12,#u975-14,#u975-16,#u975-18,#u975-20,#u975-22,#u975-24,#u975-25,#u975-27
{
	color: #FFFFFF;
}

#u973-4
{
	z-index: 48;
	width: 102px;
	min-height: 17px;
	color: #FFFFFF;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	margin-left: 4px;
	margin-top: 17px;
	position: relative;
}

#u970
{
	position: absolute;
	width: 55px;
	height: 31px;
	top: 520px;
	left: 409px;
}

.ie #u970
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u980
{
	position: absolute;
	width: 30px;
	background-color: #FF0000;
	background-color: rgba(255, 0, 0, 0.54);
	-pie-background: rgba(255, 0, 0, 0.54);
	padding-bottom: 12px;
	top: 128px;
	left: 599px;
}

#u981-4
{
	z-index: 86;
	width: 20px;
	min-height: 16px;
	padding-top: 4px;
	color: #FFFFFF;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -20px;
	margin-top: 1px;
	left: 4px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u899-27
{
	z-index: 12;
	width: 630px;
	min-height: 322px;
	padding: 15px;
	margin-bottom: -2px;
	position: relative;
	margin-right: -660px;
	margin-top: -8px;
	left: 20px;
}

#u899-4,#u899-8,#u899-10,#u899-17
{
	font-style: italic;
}

#u899,#u899-2,#u899-5,#u899-6,#u899-12,#u899-13,#u899-15,#u899-16,#u899-19,#u899-20,#u899-21,#u899-22,#u899-23
{
	font-size: 13px;
	text-align: justify;
}

#u892
{
	z-index: 90;
	position: relative;
	width: 0px;
	margin-top: -245px;
	left: -78px;
}

#u893
{
	position: absolute;
	width: 86px;
	border-color: #5B5B5B;
	-moz-border-radius: 50px 50px 0px 0px ;
	-webkit-border-radius: 50px 50px 0px 0px ;
	-khtml-border-radius: 50px 50px 0px 0px ;
	border-radius: 50px 50px 0px 0px ;
	padding-bottom: 5px;
	top: 245px;
	left: 78px;
	background: #CCFF7A url("../images/u856-grad.png") repeat-x left top;
}

#u893:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background: #CCFF7A url("../images/u856-grad.png") repeat-x left top;
}

#u893.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin: 0px;
	background: #F3C3FF url("../images/u856-a-grad.png") repeat-x left top;
}

#u894-4
{
	z-index: 92;
	width: 75px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	margin-right: -75px;
	margin-top: 7px;
	left: 10px;
}

#u893:hover #u894-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u893:active #u894-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 7px -75px 0px 0px;
}

#u893.PamphletThumbSelected #u894-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 7px -75px 0px 0px;
}

#u893.PamphletThumbSelected #u894-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

#u1072
{
	z-index: 96;
	width: 272px;
	position: relative;
	margin-right: -272px;
	left: 203px;
}

#u1072_img
{
	vertical-align: top;
}

body
{
	padding-top: 35px;
	padding-bottom: 36px;
}

