<% provide(:title, "Abrir un Grupo") %>
<div class="show center part clearfix">
	<header class="title">
		<h2 class="fleft">Abrir un Grupo</h2>
	</header>
	<div class="columnthird content ">
		<%= render 'layouts/menumaestro' %>
		<article class="detail">
			
			como
		</article>
	</div>
</div>
