<% provide(:title, 'Editar datos Maestro') %>
<div class="contact center part clearfix ">
	<header class="title">
			<h2 class="fleft">Maestro</h2>
		</header>
			
	
	<%= render 'layouts/menumaestro' %>
		
	<article id="navteam" class="detail">
<h3>Editar los datos de tu cuenta</h3>

<%= render 'form' %>
</article>



</div>
