/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require foundation-icons
 *= require_tree .
 */

.container{
  background-image: url('/assets/bg3.png');
  background-repeat: repeat top;
}
.sombra-titulo{
  text-shadow: -1px 2px 4px #000000;
    filter: dropshadow(color=#000000, offx=-1, offy=1);
}
.color-blanco{
  color:#FFF;
}
.color-negro{
  color:#000;
}
.color-azul{
  color:#47b7db;
}
.sombra-1{
-webkit-box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, .5);
box-shadow: -3px 3px 5px 2px rgba(0, 0, 0, .5);
}
.sombra-2{
 -webkit-box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, .3);
box-shadow: 0px 5px 8px 3px rgba(0, 0, 0, .3); 
}
.sombra-3{
   -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .5);
box-shadow: 0px px 5px 2px rgba(0, 0, 0, .5);
}
.resaltado{
  z-index:10;
}


