@mixin image-size{
     width:48px;
    height:48px;
}
#fondo-footer{
 background: #474848; /* Old browsers */
background: -moz-linear-gradient(top,  #686868 5%, #4e4f4f 45%, #474848 96%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#686868), color-stop(45%,#4e4f4f), color-stop(96%,#474848)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #686868 5%,#4e4f4f 45%,#474848 96%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #686868 5%,#4e4f4f 45%,#474848 96%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #686868 5%,#4e4f4f 45%,#474848 96%); /* IE10+ */
background: linear-gradient(to bottom,  #686868 5%,#4e4f4f 45%,#474848 96%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#474848',GradientType=0 ); /* IE6-9 */


  h3{
    text-shadow: -1px 2px 8px #000000;
    filter: dropshadow(color=#000000, offx=-1, offy=1);
  }
  ul li{
   a{
    
   -webkit-transition:color 0.25s ease-in;  
   -moz-transition:color 0.25s ease-in;  
   -o-transition:color 0.25s ease-in;  
   transition:color 0.25s ease-in;

   }
   a:hover{
     color:#39abcd;
    
   }
    #face {
    @include image-size;
    background-image: url('/assets/facebook-grey.png');
    background-repeat: no-repeat;
    } 
   #face:hover {
    background-image: url('/assets/facebook.png');
    background-repeat: no-repeat;
    }
    #tweet {
    @include image-size;
    background-image: url('/assets/twitter-grey.png');
    background-repeat: no-repeat;
    } 
   #tweet:hover {
    background-image: url('/assets/twitter.png');
    background-repeat: no-repeat;
    } 
    #google {
    @include image-size;
    background-image: url('/assets/google-grey.png');
    background-repeat: no-repeat;
    } 
   #google:hover {
    background-image: url('/assets/google.png');
    background-repeat: no-repeat;
    }  
  }
  
  
}

    