// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.crece {
  min-height: 550px;
}

#fomulariologin {
  margin: 30px;
  p {
    color: #194759;
  }
}

form#beautiful {
  width: 400px;
  margin: auto;
  background: #FFF;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
  -moz-box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
  -webkit-box-shadow: 0 0 7px 0px #000 inset, 0 0 16px 0px #000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255, 255, 255)), color-stop(0.41, rgb(217, 217, 217)), color-stop(1, rgb(255, 255, 255)));
  background: -moz-linear-gradient(center bottom, rgb(255, 255, 255) 0%, rgb(217, 217, 217) 41%, rgb(255, 255, 255) 100%);
  -webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.2)));
  fieldset {
    border: 0;
    margin-left: 7%;
    p {
      margin-top: 10px;
    }
    input, button {
      width: 290px;
      padding: 12px 20px;
      border: 0;
      font-size: 25px;
      border-radius: 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
      -moz-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
      -webkit-box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
      -webkit-background-clip: padding-box;
    }
    input#submit {
      width: 140px;
      cursor: pointer;
      margin-left: 0%;
      margin-right: 7px;
      float: left;
      height: 50px;
      box-shadow: 0 0 4px 0 #666;
      -moz-box-shadow: 0 0 4px 0 #666;
      -webkit-box-shadow: 0 0 4px 0 #666;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(237, 237, 237)), color-stop(0.41, rgb(217, 217, 217)), color-stop(1, rgb(255, 255, 255)));
      background: -moz-linear-gradient(center bottom, rgb(237, 237, 237) 0%, rgb(217, 217, 217) 41%, rgb(255, 255, 255) 100%);
    }
    button#submit {
      width: 140px;
      font-size: 25px;
      cursor: pointer;
      margin-left: 0%;
      margin-right: 7px;
      float: left;
      height: 50px;
      box-shadow: 0 0 4px 0 #666;
      -moz-box-shadow: 0 0 4px 0 #666;
      -webkit-box-shadow: 0 0 4px 0 #666;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(237, 237, 237)), color-stop(0.41, rgb(217, 217, 217)), color-stop(1, rgb(255, 255, 255)));
      background: -moz-linear-gradient(center bottom, rgb(237, 237, 237) 0%, rgb(217, 217, 217) 41%, rgb(255, 255, 255) 100%);
    }
    input#submit:hover {
      background-image: linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -o-linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -moz-linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -webkit-linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -ms-linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.13, rgb(22, 145, 188)), color-stop(0.57, rgb(49, 174, 226)), color-stop(0.79, rgb(79, 209, 255)));
      color: #fff;
    }
    button#submit:hover {
      background-image: linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -o-linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -moz-linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -webkit-linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -ms-linear-gradient(bottom, rgb(22, 145, 188) 13%, rgb(49, 174, 226) 57%, rgb(79, 209, 255) 79%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.13, rgb(22, 145, 188)), color-stop(0.57, rgb(49, 174, 226)), color-stop(0.79, rgb(79, 209, 255)));
      color: #fff;
    }
  }
}