/**
 * @author Hakim El Hattab
 */


/*********************************************
 * FONT-FACE DEFINITIONS
 *********************************************/

@font-face {
	font-family: 'League Gothic';
	src: url('../assets/fonts/league_gothic-webfont.ttf') format('truetype');
	
	font-weight: normal;
	font-style: normal;
}
	
	@font-face {
	font-family: 'Planer-Regula';
	src:url('../Fuentes/Planer-Regular.otf') format('truetype');
	
	font-weight: normal;
	font-style: normal;
}


/*********************************************
 * GLOBAL STYLES
 *********************************************/

html, body {
	padding: 0;
	
	overflow: hidden;

	margin-top: -360px;
	margin: 70px;
	font-family: 'Crimson Text', Times, 'Times New Roman', serif;
	font-size: 20px;
	
	background: #98ECFE;
	color: #222;
	
	width: 100%;
	height: 100%;
	

}


/*********************************************
 * HEADERS
 *********************************************/
h1, h2, h3, h4 {
	margin: 20px 0 20px 0;
	font-family: 'League Gothic', Arial, Helvetica, sans-serif;
	line-height: 0.9em;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	color: #222;
	text-shadow: 0px 0px 7px #fff, 0px 0px 7px #fff;
}

h1 { font-size: 70px; 	}
h2 { font-size: 50px;	}
h3 { font-size: 35px;	}
h4 { font-size: 29px;	}

h1.inverted,
h2.inverted,
h3.inverted,
h4.inverted {
	color: #fff;
	text-shadow: 0px 0px 2px #fff, 0px 0px 2px #888;
}


p{
font-family:'Planer-Regular';
margin: 7px;
padding: 7px;
}
p.letrachica{
	font-size: 16px;
}
#fondo{
	 /*Color del griente*/
background-image: linear-gradient(bottom, rgb(2,142,181) 12%, rgb(0,155,198) 33%, rgb(41,192,230) 81%);
background-image: -o-linear-gradient(bottom, rgb(2,142,181) 12%, rgb(0,155,198) 33%, rgb(41,192,230) 81%);
background-image: -moz-linear-gradient(bottom, rgb(2,142,181) 12%, rgb(0,155,198) 33%, rgb(41,192,230) 81%);
background-image: -webkit-linear-gradient(bottom, rgb(2,142,181) 12%, rgb(0,155,198) 33%, rgb(41,192,230) 81%);
background-image: -ms-linear-gradient(bottom, rgb(2,142,181) 12%, rgb(0,155,198) 33%, rgb(41,192,230) 81%);

background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0.12, rgb(2,142,181)),
	color-stop(0.33, rgb(0,155,198)),
	color-stop(0.81, rgb(41,192,230))
);
-webkit-box-shadow: inset 0px 0px 7px 7px rgba(0, 0, 0, .1);
box-shadow: inset 0px 0px 7px 7px rgba(0, 0, 0, .1);
}
/*********************************************
 * SLIDES
 *********************************************/
#main {
	position: absolute;
	width: 600px;
	height: 450px;
	left: 14%;
	top: 40%;
	margin-left: -18px;
	margin-top: -180px;
	
	text-align: center;
	
	-webkit-perspective: 600px;
 	-webkit-perspective-origin: 50% 25%;
 	-moz-perspective: 600px;
 	-moz-perspective-origin: 50% 25%;
}

#main>section,
#main>section>section {
	display: none;
	-webkit-border-radius: 8px;
border-radius: 15px;
	border: 1px #000;
	position: absolute;
	width: 100%;
	min-height: 450px;
	
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	
	-webkit-transition: all 500ms cubic-bezier(0.260, 0.860, 0.440, 0.985); 
	   -moz-transition: all 500ms cubic-bezier(0.260, 0.860, 0.440, 0.985); 
	     -o-transition: all 500ms cubic-bezier(0.260, 0.860, 0.440, 0.985); 
	        transition: all 500ms cubic-bezier(0.260, 0.860, 0.440, 0.985);

/*------------------------------------------*/
}

#main section.past {
	display: block;
	opacity: 0;
	
	-webkit-transform: 	translate3d(-100%, 0, 0) 
						rotateY(-90deg) 
						translate3d(-100%, 0, 0);
	-moz-transform: 	translate3d(-100%, 0, 0) 
						rotateY(-90deg) 
						translate3d(-100%, 0, 0);
}

#main section.present {
	display: block;
}

#main section.future {
	display: block;
	opacity: 0;
	
	-webkit-transform: 	translate3d(100%, 0, 0) 
						rotateY(90deg) 
						translate3d(100%, 0, 0);
	-moz-transform: 	translate3d(100%, 0, 0) 
						rotateY(90deg) 
						translate3d(100%, 0, 0);
}

#main section>section.past {
	display: block;
	opacity: 0;
	
	-webkit-transform: 	translate3d(0, -50%, 0) 
						rotateX(70deg) 
						translate3d(0, -50%, 0);
	-moz-transform: 	translate3d(0, -50%, 0) 
						rotateX(70deg) 
						translate3d(0, -50%, 0);						
}
#main section>section.future {
	display: block;
	opacity: 0;
	
	-webkit-transform: 	translate3d(0, 50%, 0) 
						rotateX(-70deg) 
						translate3d(0, 50%, 0);
   	-moz-transform: 	translate3d(0, 50%, 0) 
						rotateX(-70deg) 
						translate3d(0, 50%, 0);
}


/*********************************************
 * DEFAULT ELEMENT STYLES
 *********************************************/

#main>section {
	line-height: 1.2em;
	text-shadow: 0px 0px 2px #fff, 0px 0px 4px #bbb;
	font-weight: 600;
}

ol {
	list-style: decimal;
	list-style-position: inside;
}

li, p {
	margin-bottom: 10px;
}





/*Contenedor de TExtos*/


#textos {
	margin-left: 30px;
	margin-right: 30px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, .3);
	box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, .3);
	background-image: linear-gradient(bottom, rgb(224,224,224) 0%, rgb(252,252,252) 35%);
	background-image: -o-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(252,252,252) 35%);
	background-image: -moz-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(252,252,252) 35%);
	background-image: -webkit-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(252,252,252) 35%);
	background-image: -ms-linear-gradient(bottom, rgb(224,224,224) 0%, rgb(252,252,252) 35%);
	background-image: -webkit-gradient(
	linear,
	right bottom,
	right top,
	color-stop(0, rgb(224,224,224)),
	color-stop(0.35, rgb(252,252,252))
	);
}

#botones {
	float: right;
	position: absolute;
	bottom: 0%;
	left: 88%;
}
#botones img:hover {

	-webkit-box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .3);
	box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, .3);
	-webkit-border-radius: 40px;
	border-radius: 40px;
}
#imagenes img{
	-webkit-box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, .38);
	box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, .38);
}




