@font-face {
	src:url('../Fuentes/Novecentowide-Bold.otf');
	src:url('../Fuentes/Planer-Regular.otf');
	}
	
#main-container{
	width:500px;
	margin:30px auto;
	overflow:hidden;
}
#form-container{
	position:absolute;
	left:5px;
	/*background-color:#444444;*/
	overflow: hidden;
	background-image:url("../img/FondoEvaluacion.png");
	background-repeat:no-repeat;
	margin:10px auto 0px 20px;
	padding:10px 0px 0px 0px;
	
	/*Bordes*/
	-moz-border-radius: 2px;
	-khtml-border-radius:2px;
	-webkit-border-radius: 2px;
	border-radius:2px;
	height:400px;
	width:550px;
	
}

h1{
	padding:0px;
	margin:0px;
	font: 20px 'Intro';
	color:#000;
}


img{
	padding:0px;
	margin:0px;
}

input[type="radio"]{
 -khtml-appearance: none;
 background: url("../img/CheckNormal.png") no-repeat;
 width: 20px;
 height: 20px;
 vertical-align: middle;	
}
input[type="radio"]:hover{
 -khtml-appearance: none;
 background: url("../img/Checkhover.png") no-repeat;
 width: 20px;
 height: 20px;
 vertical-align: middle;
}
input[type="radio"]:checked{
	-khtml-appearance: none;
 background: url("../img/CheckClicked.png") no-repeat;
 width: 20px;
 height: 20px;
 vertical-align: middle;
}
.Pregunta{
	text-align:left;
	font-family:"Planer-Regular";
	font-size:15px;
	margin:0px auto 0px 10px;
	padding:0px;
}
.respuesta{
	text-align:left;
	font-family:"Planer-Regular";
	font-size:10px;
	margin:0px auto 0px 10px;
	padding:0px;
}

/*table*/

#contenidoTable {
	width: 400px;
	margin: 0px;
	border-collapse: collapse;
	border: 0px solid #000000;
}
#contenidoTable .rowa {
	background:transparent;
	height: 20px;
	margin:0px;
	padding:0px;
}
#contenidoTable .rowb {
	background:transparent;
	height: 20px;
	margin:0px;
	padding:0px;
}
#contenidoTable .cell {
	
	margin:0px;
	padding:0px;
	/*border: 4px solid #000000;
	 * 
	 */
}

#contenidoTable .col1{
	width:70px;
	padding:0px;
	margin:0px;
}
#contenidoTable .col2{
	width:70px;
	padding:0px;
	margin:0px;
}
table,th,td,tr{
	padding:0px;
	margin:0px;
}


