#content {
  margin:0px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#slotsentencias{
 	width:380px;
	height:410px;
	position:relative;
	z-index:-22;
	margin: 20px 0px 0px 30px;
	padding: 0px 0px 0px 0px;
	  background: rgba(254,255,255,1); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */
	/*bordes*/
	-webkit-border-radius: 12px;
    border-radius: 12px;

}

#pilasentencias{
	width:130px;
	height:410px;
	position:absolute;
	left:410px;
	top:2px;
	z-index:22;
	margin: 20px 0px 0px 30px;
	padding: 0px 0px 0px 0px;
	  background: rgba(254,255,255,1); 
	background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,255,255,1)), color-stop(100%,rgba(210,235,249,1)));
	background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); 
	background: -o-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); 
	background: -ms-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); 
	background: linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); 
	
	-webkit-border-radius: 12px;
    border-radius: 12px;
}

#slotsentencias div, #pilasentencias div {
  float: left;
  width: 96px;
  height: 20px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 0 0 10px;
  background: #fff;
}

#slotsentencias div:first-child, #pilasentencias div:first-child {
  margin-left: 0;
}
 
#slotsentencias div.hovered {
  background: #aaa;
}
 
#slotsentencias div {
  border-style: dashed;
}
 
#pilasentencias div {
  background: #666;
  color: #fff;
  font-size: 20px;
  text-shadow: 0 0 3px #000;
}

#pilasentencias div.ui-draggable-dragging {
  -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
  box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
 
/*Color de Sentencias logradas*/
 
#sentencia1.correct { background: red; }
#sentencia2.correct { background: blue; }
#sentencia3.correct { background: orange; }
#sentencia4.correct { background: yellow; }
#sentencia5.correct { background: green; }
 
 
/*Terminaste Mensage*/
#mensagedeterminado {
  position: absolute;
  left: 90px;
  top: 80px;
  width: 0;
  height: 0;
  z-index: 100;
  background: #dfd;
  border: 2px solid #333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  -webkit-box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  box-shadow: .3em .3em .5em rgba(0, 0, 0, .8);
  padding: 20px;
}