#tarea
{
	margin-left:200px; margin-top:0px;
}

#validar
{
	margin-left:450px; margin-top:0px;
}


#validar, #tarea
{
	width:100px; height:50px;
	
	background-color: #0f789b;
	font-weight:bold;
	
	opacity:0.9;
	-moz-border-radius:4px;
	-webkit-border-radius:3px;
	border-radius:15px 2px 15px 2px;
	
	
	background-image: linear-gradient(bottom, rgb(202,240,234) 4%, rgb(243,255,255) 52%);
	background-image: -o-linear-gradient(bottom, rgb(202,240,234) 4%, rgb(243,255,255) 52%);
	background-image: -moz-linear-gradient(bottom, rgb(202,240,234) 4%, rgb(243,255,255) 52%);
	background-image: -webkit-linear-gradient(bottom, rgb(202,240,234) 4%, rgb(243,255,255) 52%);
	background-image: -ms-linear-gradient(bottom, rgb(202,240,234) 4%, rgb(243,255,255) 52%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.04, rgb(15,120,155)),
		color-stop(0.52, rgb(15,120,155))
	);
	
	
		-moz-box-shadow: 0 4px 5px #CCA2A2;
		-webkit-box-shadow: 0 4px 5px #CCA2A2;
		box-shadow: 0 4px 5px #CCA2A2;
}
#validar:hover, #tarea:hover
{

opacity:1.0;
	-moz-border-radius:4px;
	-webkit-border-radius:3px;
	border-radius:20px 3px 20px 3px;
	
		box-shadow:
		#000 0px 0px 40px,
		#000 0px 0px 25px;
	-moz-box-shadow:
		#000 0px 0px 40px,
		#000 0px 0px 25px;
	-webkit-box-shadow:
		#000 0px 0px 40px,
		#000 0px 0px 25px;	

	opacity: 1;
	transform:scale(1.2,1.2);
	-webkit-transform:scale(1.2,1.2);
}

.ejercicio
{
	width:700px; height:420px;
	max-width: 1024px;
	margin: auto;
	background-color: #FFFFFF;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;	
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}	

.ejercicio #boxes
{
	display:inline;
}

#items
{margin-top:270px;}
	
	
	/* Distancia-izquierda del contenedor Características */
	
.ejercicio #boxes #toolbox
{
	float:left; margin-left:95px;
	margin-top:50px;
	/*width:400px;*/
	
}

	/* Distancia-derecha del contenedor Comportamiento */

.ejercicio #boxes #fruitbasket, #p3, #p4, #p5, #p6, #p7, #p8, #p9
{
	float:left; margin-left: 95px; margin-top: 5px;
	/*width:400px;*/ 
	
}

	/* Posicion de las etiquetas */
	
.ejercicio #items
{
	clear:left; text-align:center;
}

	/* Tamaño y distancia de las etiquetas*/

.ejercicio #items .item
{
	width:90px;		/* (1024 - 9*3)/10 */
	margin-right:5px;
	margin-bottom:20px;
}
	
	/* Aspecto de las etiquetas al ser seleccionadas */
	
.itemSelected
{
	background-color: rgb(193, 240, 255);
	border: 3px solid rgb(255, 0, 0);
}
	
	/* Aspecto de los contenedores al ser señalados */
	
.itemOnDropArea
{
	background-color: rgb(255, 0, 0);	
	border: 3px solid rgb(255, 0, 0);
}

