<aside class="column4 mright">
			
			<div id="MenuMaestro">
			  	<menu >
				<ul>
					<br />
				
					<li>Tipo de Usuario</li>
					<br />
					<div class="mueve"><li><b><%= link_to '-Alumno', "#" %> </b></li></div>
					<br />
					
					
					<div class="mueve"><li><b><%= link_to '-Maestro', signin_path %> </b></li></div>
					<br />
					<br />
					
				</ul>
			</menu>
			</div>
		
		</aside>