<aside class="column4 mright">
			
			<div id="MenuMaestro">
			  	<menu >
				<ul>
					<br />
					<div class="mueve"><li><%= link_to '-Perfíl', @alumno %> </li></div>
					
					<div class="mueve"><li><%= link_to '-Editar datos', edit_alumno_path(@alumno) %> </li></div>
					
					<div class="mueve"><li><%= link_to '-Registro de Evaluaciones', edit_alumno_path(@alumno) %> </li></div>
				
					
				</ul>
			</menu>
			</div>
		
		</aside>